<li>
	{{burger_name}}

	<button class="change-eaten" data-id="{{id}}" data-eaten="{{ready}}">
		{{#if ready}}EAT ME!{{else}}return{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
